html, body {
  background-color: black;
  color: white;
}
thead th {
  border-bottom: 1px solid white;
}
tfoot th {
    border-top:1px solid white;
}
tfoot td {
  border-bottom:1px solid white;
  padding: 10px 0;
}
tfoot td:odd {
  width:100px;
}
td {
  text-align: center;
}
#viewArea {
  /*border: 2px solid red;*/
  height: 493px;
  width: 500px;
  overflow: hidden;
}
#playerStage {
    width: 498px;
    height: 50px;
    margin-top: 1px;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
}
#playerStage div {
    flex: 1;
}

#gameBoard {
    position: relative;
    top: -3545px;
}

#gameBoard .row {
  display: flex;
  flex-direction: row;
}

#gameBoard .row .column {
  border-right: 1px solid blue;
  /*border-top: 1px solid blue;*/
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100px;
}
#gameBoard .row .column:first-child {
    border-left: 1px solid blue;
}
