html, body {
  background-color: black;
  color: white;
}
thead th {
  border-bottom: 1px solid white;
}
tfoot th {
    border-top:1px solid white;
}
tfoot td {
  border-bottom:1px solid white;
  padding: 10px 0;
}
tfoot td:odd {
  width:100px;
}
td {
  text-align: center;
}
#mainWrapper {
    margin: 0 auto;
    width: 600px;
}
#score {
    font-size: 20px;
}
#scoreValue {

}
#viewArea {
  /*border: 2px solid red;*/
  height: 493px;
  width: 500px;
  overflow: hidden;
}
#playerStage {
    display: none;
    width: 498px;
    height: 50px;
    margin-top: 1px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    margin-top: -30px;
}
#playerStage div {
    flex: 1;
    line-height: 50px;
    text-align: center;
}

#gameBoard {
	display: none;
    position: relative;
    top: -746px;
}

#gameBoard .row {
  display: flex;
  flex-direction: row;
}

#gameBoard .row .column {
  border-right: 1px solid blue;
  /*border-top: 1px solid blue;*/
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 100px;
}
#gameBoard .row .column:first-child {
    border-left: 1px solid blue;
}

#onceATime {
    font-size: 40px;
    text-align: center;
}

#dance {
    display: none;
    font-size: 40px;
    text-align: center;
}

#rage {
    display: none;
    font-size: 40px;
    text-align: center;
}

#asciiErrorWrapper {
    display: none;
    width: 243px;
    zoom: 200%;
}
#asciiErrorHeader {
    background-color:blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    width: 225px;
}
#asciiErrorHeaderText {
    color:white;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
}
#asciiErrorHeaderCloseButton {
    background-color:red;
    color:white;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    margin-top: 1px;
}
.asciiErrorRow {
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 20px;
    margin: 1px 0;
    width: 243px;
}
.asciiErrorRow:last-child {
    border-bottom: 1px solid white;
}
.asciiErrorRowText {
    padding-left: 10px;
    width: 233px;
}
#asciiErrorButton {
    border: 1px solid white;
    background-color:#ccc;
    color: black;
    margin-left: 10px;
    text-align: center;
    width: 40px;
}

#outro {
    display:none;
    font-size: 40px;
    text-align: center;
}
